
a {
    color: inherit;
    display: inline-block;    
}



a:hover, a:visited, a:link, a:active {
    text-decoration: none;
}

body {
    background-color:#ecebe5;
}

h1 {
    color: #404040;
    text-align: center;
    font-family: Courier New, Courier, monospace;
    margin-top: 0px;
}
p {
    font-family: verdana;
    font-size: 20px;
}
img {
    width: 15%;
    margin: auto;
    display: block;
}
.grayscale {
    filter: grayscale(100%);
}

/*
https://www.dafont.com/es/social-circles.font
*/
@font-face {
    font-family: socilaCircles; 
    font-style: normal;
    src: url("http://localhost/static/fonts/socila-circles/SocialCircles.woff") format("woff"), url("http://lupoiu.com/static/fonts/socila-circles/SocialCircles.otf")  format("opentype");
}

.socialnet{
    font-family: socilaCircles;
    font-size: 100px;
    text-align: center;
}

@font-face {
    font-family: AllerBd;
    font-style: normal;
    src: url("http://localhost/static/fonts/aller/Aller_Bd.ttf") format("truetype");
}

.name {
    font-family: 'AllerBd'; 
    color: #404040;
    text-align: center;
    text-transform: uppercase;
    font-weight: 300;
    line-height: 1;
    margin-bottom: 1px;
    margin-top: 10px;
}

