
a {
    color: inherit;
    display: inline-block;    
}

a:hover, a:visited, a:link, a:active {
    text-decoration: none;
}

body {
    background-color:#ecebe5;
}

h1 {
    color: #404040;
    text-align: center;
    font-family: Courier New, Courier, monospace;
    margin-top: 0px;
}
p {
    font-family: verdana;
    font-size: 20px;
}
img {
    width: 15%;
    margin: auto;
    display: block;
}
ul, li { 
    padding:0 
} 

.grayscale {
    filter: grayscale(100%);
}

/*
https://www.dafont.com/es/social-circles.font
*/
@font-face {
    font-family: socilaCircles; 
    font-style: normal;
    src: url("http://localhost/static/fonts/socila-circles/SocialCircles.woff") format("woff"), url("http://lupoiu.com/static/fonts/socila-circles/SocialCircles.otf")  format("opentype");
}

.social-links{
    margin-bottom: 0px;
    margin-left: 0px;
    margin-top: 0px;
    
    display: block;
    display: inline-block;
    position: fixed;
    width:160px;
    left: 50%;
    bottom: 50px;
    margin-left: -90px;
    padding: 0;
    list-style-type: none;
}

.social-links > li {
    display: inline-block;
  }

.social-link-item{
    display: inline-block;
    font-family: socilaCircles;
    font-size: 50px;
    text-align: center;
    opacity: .4;
    margin-left: 15px;
}

.social-links .email-link-outer {
    margin-top: 10px;
    display: block;
} 
.email-link {
    color: rgb(0, 0, 0);
    font-size: 15px;
    text-decoration: none;
    font-family: "brandon-grotesque";
    opacity: .5;
    -webkit-transition: opacity .1s ease-in;
}

.email-link:hover,
.email-link:focus {
    opacity: 1;
} 
.social-link-item:hover{
    opacity: 1;
}

@font-face {
    font-family: AllerBd;
    font-style: normal;
    src: url("http://localhost/static/fonts/aller/Aller_Bd.ttf") format("truetype");
}

.name {
    font-family: 'AllerBd'; 
    color: #404040;
    text-align: center;
    text-transform: uppercase;
    font-weight: 300;
    line-height: 1;
    margin-bottom: 1px;
    margin-top: 10px;
}

